@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	

	<div class="hotbar">
		@for(int i=0; i<weaponData.Slots; i++ )
		{
				
				//<img class="img" src="@image">
			
			<div class="slot @((weaponData.ActiveSlot == i) ? "active" : "")">

					@if(weaponData.Inventory[i] == "weapon_smg")
					{
						<img class="img" src="@weaponData.InventoryImages[0]">
					}
					@if(weaponData.Inventory[i] == "weapon_shotgun")
					{
						<img class="img" src="@weaponData.InventoryImages[1]">
					}
				
			</div>
				
			
		}

	</div>
	
</root>

@code
{
	[Property] public Weapon weaponData { get; set; }
	[Property] public Texture image { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( weaponData, weaponData.ActiveSlot, weaponData.InventoryImages, weaponData.Slots, weaponData.Inventory );
}
