@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Kicks
@using System.Linq;
<root>
	@if (weaponData is null) return;

	<div class="hotbar">
		@for(int i=0; i<weaponData.Slots; i++ )
		{
			<div class="slot @((weaponData.ActiveSlot == i) ? "active" : "")">
					@if (i == 0)
					{
						<img src="assets/w_mp5.vmdl_c.vtex" class="icon"></img>
					}
					@if (i == 1)
					{
						<img src="textures/w_usp.vmdl_c.vtex" class="icon"></img>
					}
			</div>
		}
	</div>
	
</root>

@code
{
	public static Weapon weaponData;
	[Property] public Texture MP5 { get; set; }
	[Property] public Texture Pistol { get; set; }
        protected override void OnStart()
        {
            weaponData = GameManager.ActiveScene.GetAllComponents<Weapon>().FirstOrDefault(x => !x.IsProxy);
        }

        //private Weapon weaponData;

        protected override void OnAwake()
        {
         
			
        }

        protected override int BuildHash() => System.HashCode.Combine( weaponData?.ActiveSlot, weaponData?.Inventory, weaponData?.InventoryImages, weaponData?.Slots );
}
