@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Kicks
@using System.Linq;
<root>
	

	<div class="hotbar">
		@for(int i=0; i<weaponData.Slots; i++ )
		{
				
				//<img class="img" src="@image">
			
			<div class="slot @((weaponData.ActiveSlot == i) ? "active" : "")">

					@if(weaponData.Inventory[i] == "weapon_smg")
					{
						<img class="img" src="@weaponData.InventoryImages[0]">
					}
					@if(weaponData.Inventory[i] == "weapon_shotgun")
					{
						<img class="img" src="@weaponData.InventoryImages[1]">
					}
			</div>
		}
	</div>
	
</root>

@code
{
	public static Weapon weaponData;

        protected override void OnStart()
        {
            weaponData = GameManager.ActiveScene.GetAllComponents<Weapon>().FirstOrDefault(x => !x.IsProxy);
        }

        //private Weapon weaponData;

        protected override void OnAwake()
        {
         
			
        }

        protected override int BuildHash() => System.HashCode.Combine( weaponData?.ActiveSlot, weaponData?.Inventory, weaponData?.InventoryImages, weaponData?.Slots );
}
