JoinMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 24px;
	.left
	{
		position: absolute;
		top : 0;
		left: 32px;
		width: 612px;
		height: 100%;
		background-color: pink;
		border-radius: 32px;
		padding: 32px;
		pointer-events: all;

		h1
		{
			font-size: 64px;
			font-weight: bolder;

		}
		.inner
		{
			background-color: pink;
			flex-grow: 100;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			.button
			{
				border-radius: 16px;
				width: 500px;
				height: 100px;
				align-items: center;
				background-color: aqua;
				padding: 32px;
				
				.title
				{
					font-weight: bold;
					font-size: 42;
				}
				.name
				{
					position: absolute;
					right: 32px;
					font-size: 42px;
				}

				&:hover
				{
					background-color: blue;
				}
			}

	}
}
}