JoinMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 32px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	>.left {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		position: absolute;
		top : 0;
		left: 32px;
		width: 612px;
		height: 100%;
		background-color: rgb(104, 39, 39);
		border-radius: 32px;
		padding: 32px;
		pointer-events: all;
	  
		h1 {
		  font-size: 64px;
		  font-weight: bolder;
		  color: white;
		  text-stroke: 10px black;
			}
	  
		.inner
		{
			background-color: rgb(104, 39, 39);
			flex-grow: 100;
			flex-direction: column;
			align-items: center;
			gap: 32px;
			color: white;
			text-stroke: 10px black;
			.button
			{
				border-radius: 16px;
				width: 500px;
				height: 100px;
				align-items: center;
				background-color: rgb(153, 32, 52);
				padding: 32px;
				transition: all 0.1s ease;
				
				.title
				{
					font-weight: bolder;
					font-size: 42;
				}
				.name
				{
					position: absolute;
					right: 32px;
					font-size: 42px;
					
				}

				&:hover
				{
					background-color: rgb(255, 96, 96);
					transform: scale(1.1);
				}
			}

	}


}
.text
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	.title
	{
		font-size: 64px;
		font-weight: bolder;
		color: white;
		text-stroke: 10px black;
	}
	.subtitle
	{
		font-size: 32px;
		color: white;
		text-stroke: 10px black;
	}
	.button
	{
		border-radius: 16px;
		width: 500px;
		height: 100px;
		align-items: center;
		background-color: rgb(153, 32, 52);
		padding: 32px;
		transition: all 0.1s ease;
		>.title
		{
			font-weight: bolder;
			font-size: 42;
		}
		.name
		{
			position: absolute;
			right: 32px;
			font-size: 42px;
		}
		&:hover
		{
			background-color: rgb(104, 39, 39);
			transform: scale(1.1);
		}
	}
}
	.maintext
	{
		font-size: 95px;
		font-weight: bolder;
		color: white;
		text-stroke: 10px black;
		flex-direction: row;
		margin: 10px;
		position: absolute;
		top: 240px;
		> .normal
		{
			margin: 10px;
		}
		> .red
		{
			color: red;
			margin: 10px;
		}
	}
	.themeHolder {
		width: 40%;
		height: 10%;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 35%;
		flex-direction: column;
		.button-label {
			font-family: Poppins;
			height: 100%;
			text-align: center;
			justify-content: center;
			align-items: center;
			
		}

		.DropDown {
			width: 5%;
			height: 10%;
			border: 1px solid;
			border-radius: 15px;
			align-items: center;
			color: white;
			justify-content: space-around;
		}
		.DropDownText
		{
			font-size: 64px;
			color: white;
			position: absolute;
			bottom: 100%;
			color: white;
			text-stroke: 10px black;
			font-weight: bolder;
		}

		.button {
			justify-content: center;
			align-items: center;
			background-color: rgb(139, 61, 61);
			width: 50%;
			height: 100%;
			flex-direction: row;
			border: 1px solid;
			border-radius: 15px;
			color: white;
			border-color: white;
			pointer-events: all;

			&:hover {
				background-color: lightcoral;
			}

			&:active {
				sound-in: ui.popup.message.close;
			}
		}
	}
	.bottomright
	{
		position: absolute;
		bottom: 32px;
		
		justify-content: center;
		align-items: center;

		.notes
		{
			.notesbutton
			{
				background-color: rgb(153, 32, 52);
				font-size: 64;
				width: 300px;
				height: 75px;
				border-radius: 16px;
				align-items: center;
				justify-content: center;
				pointer-events: all;
				transition: all 0.1s ease;
				text-stroke: 10px black;
				color: white;
				&:hover
				{
					background-color: rgb(104, 39, 39);
					transform: scale(1.1);
				}
				&:active
				{
					sound-in: ui.popup.message.close;
				}
				>.title
				{
					font-weight: bolder;
					font-size: 42;
				}

			}
		}
	}

	.notespopup
	{
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.9;
		transition: opacity 0.2s ease;
		align-items: center;
		justify-content: center;
		position: absolute;
		font-weight: bold;
		flex-direction: column;
		h2
		{
			font-size: 120px;
			color: white;
			text-stroke: 10px black;
			font-weight: bolder;
		}
		>.img
		{
			width: 300px;
			height: 300px;
			position: absolute;
			right: 42px;

			opacity: 1;
		}
		>.notes
		{
			font-size: 64px;
			color: white;
			text-stroke: 10px black;
			font-weight: bolder;
			color: white;
		}
		.closebutton
		{
			
			position: absolute;
			bottom: 32px;
			left: 32px;
			background-color: rgb(32, 84, 153);
			font-size: 64;
			width: 200px;
			height: 75px;
			border-radius: 16px;
			align-items: center;
			justify-content: center;
			pointer-events: all;
			transition: all 0.1s ease;
			pointer-events: all;
			color: white;
			text-stroke: 10px black;
			&:hover
			{
				background-color: rgb(33, 156, 165);
				transform: scale(1.1);
			}
			&:active
			{
				sound-in: ui.popup.message.close;
			}
			>.title
			{
				font-weight: bolder;
				font-size: 42;
			}
		}

		&.hide
		{
			opacity: 0;
		}
	}
	.mapselect
	{
		z-index: 100;
		width: 1900px;
		height: 100%;
		backdrop-filter: blur( 100000px );
		border-radius: 16px;
		pointer-events: all;
		color: white;
		align-items: center;
		justify-content: center;
		
		&.hide
		{
			opacity: 0;
		}
	}
	button
	{
		background-color: rgb(153, 32, 52);
				font-size: 64;
				width: 200px;
				height: 75px;
				border-radius: 16px;
				align-items: center;
				justify-content: center;
				pointer-events: all;
				transition: all 0.1s ease;
				&:hover
				{
					background-color: rgb(104, 39, 39);
					transform: scale(1.1);
				}
				&:active
				{
					sound-in: ui.popup.message.close;
				}
				>.title
				{
					font-weight: bolder;
					font-size: 42;
				}

			}

			>.right
			{
				height: 100%;
				width: 500px;
				position: absolute;
				right: 32px;
				background-color: rgb(104, 39, 39);
				padding: 16px;
				border-radius: 16px;
				font-weight: bold;
				

				


				>.leaderboard
				{
					flex-grow: 1;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 16px;
					z-index: 0;
					color: white;
					text-stroke: 10px black;
					>.header
				{
					font-size: 55px;
					color: white;
					justify-content: center;
					align-items: center;
					flex-grow: 1;
					text-stroke: 10px black;
					font-weight: bolder;
				}
					>.entry
					{
						
						display: flex;
						flex-direction: row;
						width: 100%;
						padding: 4px 8px;
						
						>.ranking
						{
							font-size: 42px;
							width: 64px;
							text-align: center;
						}

						>.name
						{
							flex-grow: 1;
							gap: 16px;
							flex-direction: row;
							align-items: center;
							&.me
							{
								background-color: rgba( white, 0.1 );
								border-radius: 16px;

							}
							>.score
							{
								position: absolute;
								right: 0;
							}
							>.image
							{
								width: 64px;
								height: 64px;
								border-radius: 16px;
							}
							>.displayname
							{
								
								flex-direction: column;

							}

						}

					}
				}
			}
			}