MenuUi
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(red, rgb(252, 162, 162));
    
	pointer-events: all;
	color: white;
	text-stroke: 8px black;
	font-family: Poppins;
	font-size: 64px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: scale(1);
	transition: opacity 0.2s ease;
    text-shadow: 0 0 8px black;
    .h2
    {
       text-stroke: px black;
        font-weight: bolder;
        font-size: 128px;
    }
    .h1
    {
         text-stroke: 24px black;
        font-weight: bolder;
        font-size: 128px;
    }
    .header
    {
        font-size: 54px;
        font-weight: bolder;
        text-stroke: 12px black;
    }
   
    .center
    {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        pointer-events: all;
        .button
        {
            border-radius: 64px;
            background-color: rgb(255, 189, 189);
            backdrop-filter: blur(16px);
            color: white(116, 116, 116);
            padding: 8px;
            width: 512px;
            transition: all 0.1s ease;
            align-items: center;
            flex-direction: column;
            
            &:hover
            {
                background-color: rgb(41, 41, 41);
                transform: scale(1.1);
                sound-in: ui.button.over;
            }
    
            &:active
            {
                sound-in: ui.button.press;
            }
    
        }
    }
    &.hide
	{
		opacity: 0;
	}
    
    .left
    {
        position: absolute;
		top: 0;
		left: 32px;
		width: 450px;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		gap: 64px;
        align-items: center;
        
        > div
		{
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

        > .leaderboard
        {
            flex-direction: column;
            margin: auto;
            
            .entry
            {
                flex-direction: row;
                align-items: center;
                gap: 4px;
                margin: 16px;
                .name
                {
                    font-size: 32px;
                }
                .ranking
                {
                    font-size: 32px;
                }
                .score
                {
                    font-size: 32px;
                }
                .image
                {
                    width: 64;
                    height: 64;
                    border-radius: 16px;
                    
                }
                &.me
					{
						background-color: rgba( white, 0.1 );
                        padding: 16px;
                        border-radius: 16px;
					}
            }
        }

    .right
    {
        position: absolute;
        top: 0;
        right: 32px;
        width: 450px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      
        > .score
		{
            
			font-size: 42px;
			min-height: 256px;
			gap: 16px;
			width: 100%;
			font-weight: bolder;
			text-stroke: 16px black;

            div
			{
				flex-direction: column;
				align-items: center;
				
				p
				{
					font-size: 64px;
				}
			}
    }
}
}
}

