@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">Play again?</div>
	<button @onclick=@PlayAgain>Yes</button>
	<button @onclick=@Exit>No</button>
	<div class="note">Note: There will be errors when playing again due to a bug, ignore them, they will not stop your from playing</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	[Property] public SceneFile gameScene { get; set; }
	void PlayAgain()
	{
		GameManager.ActiveScene.Load(gameScene);
	}
	void Exit()
	{
		Game.Close();
	}


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
